%h3.page-title
  %i.icon-gitorious.icon-gitorious-big
  Import repositories from Gitorious.org

%p.light
  Select projects you want to import.
%hr
%p
  = button_tag 'Import all projects', class: "btn btn-success js-import-all"

%table.table.import-jobs
  %thead
    %tr
      %th From Gitorious
      %th To GitLab
      %th Status
  %tbody
    - @already_added_projects.each do |project|
      %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
        %td= project.import_source
        %td
          %strong= link_to project.path_with_namespace, project
        %td.job-status
          - if project.import_status == 'finished'
            %span.cgreen
              %i.fa.fa-check
              done
          - else
            = project.human_import_status_name

    - @repos.each do |repo|
      %tr{id: "repo_#{repo.id}"}
        %td= repo.full_name
        %td.import-target
          = repo.full_name
        %td.import-actions.job-status
          = button_tag "Import", class: "btn js-add-to-import"

:coffeescript
  $ ->
    new ImporterStatus("#{jobs_import_gitorious_path}", "#{import_gitorious_path}")
